In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

### Условие 1: Задача 1
1.1. Постройте график / Назовите график / Сделайте именование оси x и оси y / Сделайте выводы
1.2. Изучите стоимости недвижимости
1.3. Изучите распределение квадратуры жилой
1.4. Изучите распределение года постройки

In [4]:
df = pd.read_csv("kc_house_data.csv", encoding='windows-1251')

In [15]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

1.2. Изучите стоимости недвижимости

In [16]:
plt.figure(figsize=(10, 6))
plt.hist(df['price'], bins=100)
plt.title('Стоимость недвижимости')
plt.xlabel('Цена')
plt.ylabel('Количиство')
df['price'].describe()

NameError: name 'plt' is not defined

1.3. Изучите распределение квадратуры жилой

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df['sqft_living'], bins=100)
plt.title('Распределение жилой прощади')
plt.xlabel('Жилая площадь')
df['sqft_living'].describe()

1.4. Изучите распределение года постройки

In [17]:
plt.figure(figsize=(10, 6))
sns.histplot(df['yr_built'], bins=100)
plt.title('Распределение года постройки')
plt.xlabel('Год постройки')
df['yr_built'].describe()

NameError: name 'plt' is not defined

### Условие 2: 2 задача
2.1. Изучите распределение домов от наличия вида на набережную
Постройте график
Сделайте выводы
2.2. Изучите распределение этажей домов
2.3. Изучите распределение состояния домов

2.1. Изучите распределение домов от наличия вида на набережную
Постройте график
Сделайте выводы

In [18]:
data = df['waterfront'].value_counts()
data.index = ['no', 'yes']
data.head()

no     21450
yes      163
Name: count, dtype: int64

In [19]:
plt.figure(figsize=(10, 6))
plt.pie(data, autopct='%1.1f%%')
plt.title('Доля домов с видом на набережную')
plt.legend(data.index);

NameError: name 'plt' is not defined

2.2. Изучите распределение этажей домов

In [20]:
data = df['floors'].value_counts()
data

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [21]:
plt.figure(figsize=(10, 6))

plt.hist(df['floors'])

plt.title('Распределение домов по количеству этажей')
plt.xlabel('Число этажей')
plt.ylabel('Количиство домов');

NameError: name 'plt' is not defined

2.3. Изучите распределение состояния домов

In [22]:
data = df['grade'].value_counts()
data

grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

In [23]:
plt.figure(figsize=(10, 6))

plt.hist(df['grade'])

plt.title('Распределение домов по их состоянию')
plt.xlabel('Состояние дома')
plt.ylabel('Количество домов');

NameError: name 'plt' is not defined

### Условие 3: 3 задача
Исследуйте, какие характеристики недвижимости влияют на стоимость недвижимости, с применением не менее 5 диаграмм из урока.
Анализ сделайте в формате storytelling: дополнить каждый график письменными выводами и наблюдениями.

In [25]:
corr_matrix = df.corr()
corr_matrix = np.round(corr_matrix, 1)
corr_matrix[np.abs(corr_matrix) < 0.3] = 0
corr_matrix

ValueError: could not convert string to float: '20141013T000000'

In [26]:
plt.figure(figsize=(12, 10))
sns.heatmap(corr_matrix, annot=True, linewidths=.5, cmap='coolwarm');

NameError: name 'plt' is not defined

In [27]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [28]:
plt.figure(figsize=(8, 6))

sns.jointplot(x=df['price'], y=df['sqft_living'], kind='reg')
plt.title('Отношение цены и площади недвижимости');

NameError: name 'plt' is not defined

In [29]:
plt.figure(figsize=(8, 6))

sns.jointplot(x=df['price'], y=df['bedrooms'], kind='reg')
plt.title('Отношение цены и количества спален');

NameError: name 'plt' is not defined

In [30]:
plt.figure(figsize=(8, 6))

sns.jointplot(x=df['price'], y=df['bathrooms'], kind='reg')
plt.title('Отношение цены и ванных комнат');

NameError: name 'plt' is not defined

In [31]:
plt.figure(figsize=(8, 6))

sns.jointplot(x=df['price'], y=df['floors'], kind='reg')
plt.title('Отношение цены и количества этажей');

NameError: name 'plt' is not defined

In [32]:
plt.figure(figsize=(8, 6))

sns.jointplot(x=df['price'], y=df['grade'], kind='reg')
plt.title('Отношение цены и класса недвижимости');

NameError: name 'plt' is not defined